[submodule "semantic-features"]
	path = semantic-features
	url = git@github.com:oliviaguest/semantic-features.git
[submodule "phonological-features"]
	path = phonological-features
	url = git@github.com:oliviaguest/phonological-features.git
[submodule "som-patterns"]
	path = som-patterns
	url = git@github.com:oliviaguest/som-patterns.git
	branch = master
